/* $Id$ */
.blue {
	color: #0088aa;
	font-size: 18pt;
}
.blue-indent {
	margin-left: 1cm;
	color: #0088aa;
	font-size: 15pt;
}
.blue-block {
	margin-top: 2px;
	margin-bottom: 8px;
	margin-left: 1cm;
	margin-right: 1cm;
	background-color: #00ccee;
	border: solid 4px #00ccee
}
.blue-block p {
	margin-bottom: 0 
}
.blue-block p:first-child {
	margin-top: 0 
}
dd p:first-child {
	margin-top: 0 
}
.bug {
	font-size: 90%;
	font-style: italic;
	font-weight: bold; 
}
dd dl {
	margin-left: 0.4cm 
}
dd dl dd {
	margin-left: 0.6cm
}
dd ul li {
	margin-left: 0
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-left: 1.5cm;
	margin-right: 1cm;
}
dt {
	font-size: 110%;
	color: #0088aa
}
p.foot {
	font-size: 75%
}
h2 {
	margin-left: -1cm;
        color: #006699;
        font-size: 20pt; 
}
h3 {
	color: #006699;
	font-size: 14pt; 
}
pre {
	margin-left: 1cm;
	margin-right: 1cm;
	border: 4px solid #dddddd;
	background-color: #dddddd
}
.change {
	color: #000088;
}
pre .change {
	background-color: #aaaaaa;
}
.links {
	position: relative;
	text-align: right;
	padding: 4px;
}
.nolink {
}
.links a {
	padding-left: 4px;
	padding-right: 4px;
	margin: 2px 2px 2px 8px;
	font-size: 120%;
	text-decoration: none;
}
.links a:link {
	color: #0088aa;
}
.links a:hover {
	border: 2px solid #0088aa;
	margin: 0px 0px 0px 6px;
}
.index {
	font-size: 133%;
	color: #0088aa;
}
.index * td:first-child {
	text-align: right;
	vertical-align: top;
}
.index * dl {
	margin-left: 0.5cm;
	font-size: 10pt;
}
.index * dt {
	color: black;
}
.index * a {
	padding-left: 2px;
	padding-right: 2px;
	text-decoration: none;
	margin: 2px;
}
.index * a:link {
	color: #0088aa;
}
.index * a:hover {
	border: 2px solid #0088aa;
	margin: 0px;
}
